.toDoContainer {
  width: 100%;
  max-width: 736px;
  margin: calc(-16px - 0.75rem) auto 0;
}

.newTaskForm {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 64px;
}

.input {
  background-color: var(--gray-500);
  border: 2px solid var(--gray-700);
  color: var(--gray-200);
  border-radius: 8px;
  padding: 16px;
  width: 39.875rem;
  font-size: 1rem;
}

.submit {
  border: none;
  border-radius: 8px;
  padding: 17px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: 0.1s background-color;
}

.submit:hover {
  background-color: var(--blue);
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.createdOnes, .finishedOnes {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

.createdOnes p {
  color: var(--blue);
}

.finishedOnes p {
  color: var(--purple);
}

.createdOnes span, .finishedOnes span {
  color: var(--gray-200);
  background-color: var(--gray-400);
  padding: 2px 10px;
  border-radius: 30px;
}

.tasks {
  list-style: none;
}

.noTasks {
  padding: 64px 0;
  text-align: center;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  color: var(--gray-300);
}

.noTasks .icon {
  margin-bottom: 16px;
}

.noTasks p {
  font-size: 1rem;
}

.noTasks .bold {
  font-weight: 700;
}